<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProfileHome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse w-75">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProfileName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/ngoc">Page's Ngoc</a></li>
      <li class="active"><a href="/thuy">Page's Thuy</a></li>
      <li class="active"><a href="/phong">Page's Phong</a></li>
      <li class="active"><a href="/tuanAnh">Page's T.Anh</a></li>
    </ul>
  </div>
</nav>
  
<div class="container w-75">
  <h2>Bài tập về GitHub</h2>
  <h3>Mạng cảm biến nhóm lớp 02</h3>
  <h4>Thành viên nhóm 05</h4>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">First Name</th>
        <th scope="col">Last name</th>
        <th scope="col">MSV</th>
        <th scope="col">Chức vụ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Nguyễn Thị</td>
        <td>Ngọc</td>
        <td>B17DCDT135</td>
        <td>thành viên</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Trần Thu</td>
        <td>Thủy</td>
        <td>B17DCDT179</td>
        <td>thành viên</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ngô Diên</td>
        <td>Phong</td>
        <td>B17DCDT140</td>
        <td>thành viên</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lê Xuân Tuấn</td>
        <td>Anh</td>
        <td>B17DCDT011</td>
        <td>Nhóm trưởng</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
