<!DOCTYPE html>
<html lang="en">
<head>
  <title>profilePhong</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ProfileName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home">Home</a></li>
          <li class="active"><a href="/ngoc">Page's Ngoc</a>
          </li>
          <li class="active"><a href="/thuy">Page's Thuy</a></li>
          <li class="active"><a href="/phong">Page's Phong</a></li>
          <li class="active"><a href="/tuanAnh">Page's TuanAnh</a></li>
        </ul>
      </div>
    </nav>
  </div>

<div class="container">
  <h2>Ngô Diên Phong</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="phong.jpg" class="d-block w-100" style="width: 70%; height: 70%;">
        <div class="carousel-caption">
          <h3>Ngô Diên Phong</h3>
          <p>MSV: B17DCDT140</p>
          <p>Lớp: D17DTMT02</p>
        </div>
      </div>

      <div class="item">
        <img src="https://portal.ptit.edu.vn/wp-content/uploads/2021/04/anh-truong.jpg" class="d-block w-100" style="width: 100%; height: 100%;">
        <div class="carousel-caption">
          <h3>PTIT</h3>
          <p>Học viện Công nghệ Bưu chính Viễn thông</p>
          <p>Học viện Công nghệ Bưu chính Viễn thông là đơn vị sự nghiệp trực thuộc Bộ Thông tin và truyền thông. Với 02 cơ sở đào tạo tại Hà Nội, Tp. Hồ Chí Minh và 03 Viện nghiên cứu trong lĩnh vực ICT</p>
          
        </div>
      </div>

      <div class="item">
        <img src="https://znews-photo.zadn.vn/w660/Uploaded/lerl/2020_08_28/tc.jpg" class="rounded mx-auto d-block" alt="..."  style="width: 100%; height: 100%;">
        <div class="carousel-caption">
          <h3>Việt Nam</h3>
          <p>Việt Nam, tên gọi chính thức là Cộng hòa Xã hội chủ nghĩa Việt Nam, là một quốc gia độc lập có chủ quyền nằm ở cực Đông của bán đảo Đông Dương thuộc khu vực Đông Nam Á, giáp với Lào, Campuchia, Trung Quốc, Biển Đông và vịnh Thái Lan. Quốc gia này có chung đường biên giới trên biển với Thái Lan qua vịnh Thái Lan và với Trung Quốc, Philippines, Indonesia, Brunei, Malaysia qua Biển Đông.</p>  
        </div>
      </div>
    
      <div class="item">
        <img src="/article.png" class="d-block w-100" alt="..." style="width: 100%; height: 100%;">
        <div class="carousel-caption">
          <h3>Tình hình Covid ở Việt Nam</h3>
          <p>covid đang bùng phát và chưa kiểm soát được. Mọi người ra đường cẩn thận</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>
<script src="js/jquery.min.js+popper.js.pagespeed.jc.Ew4IaAcZzg.js"></script><script>eval(mod_pagespeed_YLElPu0IX8);</script>
<script>eval(mod_pagespeed_pCmycRFZDm);</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js+main.js.pagespeed.jc.VXaWzOLfv_.js"></script><script>eval(mod_pagespeed_qytBjClpfR);</script>
<script>eval(mod_pagespeed_ZS$C_J5I06);</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"655c431ee8c82483","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.1","si":10}'></script>


</body>
</html>
